# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/src/GEV-APP/bin/Debug/netcoreapp1.0
/Application/obj/Debug/netstandard1.6
/Common/obj/Debug/netstandard1.6
/Domain/obj/Debug/netstandard1.6
/Domain/bin/Debug/netstandard1.6
/Persistance/bin/Debug/netstandard1.6
/Presentation/bin/Debug/netcoreapp1.0
/Presentation/obj/Debug/netcoreapp1.0
/Service/obj/Debug/netstandard1.6
/Service/bin/Debug/netstandard1.6
/Persistance/obj/Debug/netstandard1.6
/Common/bin/Debug/netstandard1.6
