@model VehicleMaintenance.ViewModel.MaintenanceBooking.CreateMaintenanceBookingViewModel
<div>
    <label>Nom</label>
    <input type="text" />
    <label>Prénom</label>
    <input type="text" />
    <label>N° immatriculation</label>
    <input type="text" />
    <label>Date de mise en circulation</label>
    <input type="date" />
    <label>Marque</label>
    <select asp-items="@Model.Brands"></select>
    <label>Qu'est ce qu'il faut entretenir ?</label>
    <select asp-items="@Model.MaintenanceOptions"></select>
</div>