
<div>
    <label>Nom</label>
    <input type="text" />
    <label>Prénom</label>
    <input type="text" />
    <label>N° immatriculation</label>
    <input type="text" />
    <label>Date de mise en circulation</label>
    <input type="date" />
    <label>Marque</label>
    <select>
        <option>Volvo</option>
        <option>Mercredec</option>
    </select>
    <label>Qu'est ce qu'il faut entretenir ?</label>
    <label>Huilde de moteur<input type="checkbox" /></label>
    <label>Filtre<input type="checkbox" /></label>
</div>